@font-face {
  font-family: "iconfont"; /* Project id 5126319 */
  src: url('iconfont.woff2?t=1773371922772') format('woff2'),
       url('iconfont.woff?t=1773371922772') format('woff'),
       url('iconfont.ttf?t=1773371922772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addConstraintPerpendicular:before {
  content: "\e6b5";
}

.icon-addConstraintEqualLength:before {
  content: "\e6b6";
}

.icon-addConstraintParallel:before {
  content: "\e6b7";
}

.icon-addConstraintPointOnPerpBisector:before {
  content: "\e61d";
}

.icon-addConstraintPointOnLine:before {
  content: "\e60a";
}

.icon-addConstraintP2PCoincident:before {
  content: "\e6f8";
}

.icon-addConstraintCoordinateX:before {
  content: "\e604";
}

.icon-addConstraintCoordinateY:before {
  content: "\e605";
}

.icon-addConstraintCoordinate:before {
  content: "\e6cf";
}

.icon-tianjiaZpingmian:before {
  content: "\e610";
}

.icon-zhizhen-cai:before {
  content: "\e621";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-yuanhu:before {
  content: "\e689";
}

.icon-Sketcher_Sketcher_CreatePolyline_Constr:before {
  content: "\e801";
}

.icon-xian5:before {
  content: "\e628";
}

.icon-zuobiao:before {
  content: "\e8fd";
}

.icon-jizhunmian:before {
  content: "\e76f";
}

.icon-chuangjiancaotu:before {
  content: "\e7af";
}

